.manage-users {
    background-color: white;
    color: black;
}

.manage-users table {
    width: 100%;
    background-color: white;
    color: black;
    border-collapse: collapse;
}
h2 {
    margin-bottom: 20px;
    color: #c62828;
}
.manage-users th,
.manage-users td {
    border: 1px solid #ccc;
    padding: 10px;
}

.manage-users select,
.manage-users button {
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #999;
    padding: 6px 10px;
    cursor: pointer;
}
.manage-users th {
    background-color: #c62828;
    color: white;
    font-weight: bold;
}